#second,#first
{
    filter:blur(5px);
}
.pic,.mail
{
    position: relative;
}
.heading
{
    position: absolute;
    bottom: 500px;
    left: 500px;
    text-align: center;
    color: rgb(238, 230, 230);
    font-style: italic;
    font-size: 150%;
}
h2
{
    text-align: center;
    color: brown;
}
p
{
    text-align: justify;
    color: rgb(23, 23, 26);
}
.end
{
    text-align: center;
    color: black;
    position: absolute;
    bottom: 400px;
    left: 500px;
    font-size: 150%;
}
